@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    max-width: 1200px;
    margin-inline:auto;
    background-color: #111111;
    font-family: 'Roboto', sans-serif;
}

h1{
    padding: 10px 10px 10px 0;
    color: seashell;
}

.student-details{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

input{
    padding-left: 10px;
}


.student-details input{
    width :28%;
    height: 30px;
    margin-right: 30px;
    margin-bottom:10px;
}

.btn {
    margin-top: 10px;
    margin-bottom: 100px;
}

.button {
    width :35%;
    height: 30px;
    
    color: seashell;
    background-color: rgb(91, 162, 209);
    border: 1px solid rgb(15, 169, 230);
}

#update{
    display: none;
}

.search input{
    width :89%;
    height: 40px;
    margin-bottom: 30px;
    font-size: 18px;
    border: none;
    font-family: 'Roboto', sans-serif;
    padding-left: 10px;
}

table{
    width: 89%;
    text-align: center;
    border: none;
    background-color: #111111;
    color: seashell;
    
}

.details-students{
    padding: 10px;
    background-color: #111111;
    color: seashell;
    border: 1px solid rgb(53, 53, 53); 
}

#body tr {
    height: 50px;
}


.edit-button{
    background-color: #111111;
    border: none;
    color: rgb(0, 217, 255);
}

.delete-button{
    background-color: #111111;
    border: none;
    color: rgb(255, 0, 106);
}
